<!DOCTYPE html>
<html>
  <head>
    <title>Biasy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img onclick="window.location='/'" src="http://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/24/blue-home-icon.png" alt="GO TO HOME">

    <%= yield %>
  </body>
</html>
